@model UserVM

@{
    ViewData["Title"] = "Üye Anasayfa";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h3 class="text-center">Kullanıcı Bilgileri</h3>
<div class="row">
    <div class="col-md-3">
        @if (Model.Picture == null)
        {
            <img src="~/UserImages/user.png" style="width:100%; height:150px;">
        }
        else
        {
            <img src="@Model.Picture" style="width:100%; height:200px;">
        }
    </div>
    <div class="col-md-9">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Kullanıcı Adı</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>E-Posta Adresi</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Telefon No</th>
                @if (Model.PhoneNumber == null)
                {
                    <td><small class="text-muted">Henüz Eklenmemiş</small></td>
                }
                else
                {
                    <td>@Model.PhoneNumber</td>
                }
            </tr>
            <tr>
                <th>Doğum Tarihi</th>
                @if (Model.BirthDay == null)
                {
                    <td><small class="text-muted">Henüz Eklenmemiş</small></td>
                }
                else
                {
                    <td>@Model.BirthDay.Value.ToShortDateString()</td>
                }

            </tr>
            <tr>
                <th>Şehir</th>
                @if (Model.City == null)
                {
                    <td><small class="text-muted">Henüz Eklenmemiş</small></td>
                }
                else
                {
                    <td>@Model.City</td>
                }
            </tr>
            <tr>
                <th>Cinsiyet</th>
                <td>@Model.Gender</td>
            </tr>
        </table>
    </div>
</div>

